/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

html{
	
}

body {
	@include font-body;
	color: $black;
	-webkit-font-smoothing: antialiased;
	background: url(../images/general/texture-bg.jpg) left top repeat $light-grey;
}


/*********************
LAYOUT & GRID STYLES
*********************/

p{
	line-height: 1.5;
}

#outer-wrap{
	
}


.home-carousel{
	width: 100%;
	background: url(../images/home/carouselbg.png) left center repeat;
	position: relative;
	
	.bxslider{
		margin: 0;
		
		li{
			padding: 1rem 0;
			
			.carouselCopy{
			
				h1{
					margin: 0;
					color: $al-blue;
					font-size: 1.6rem;
				}
				
				h2{
					margin: 0;
					font-size: 1.6rem;	
				}
				
				p{
					font-size: 1rem;
					line-height: 1;
					
					a{
						color: $black;
						text-decoration: underline;
						
						&:hover{
							text-decoration: none;
						}
					}
				}
				
				a{
					color: $grey;
					text-decoration: none;
					
					&:hover{
						text-decoration: underline;
					}
				}
			
				.calor-logo{
					margin-bottom: 1rem;
				}
			}
		}
		.fullImage{
			width: 100%;
			height: 410px;
			position: relative;
			background: url(../images/home/caravans-outside.jpg) center center no-repeat;
			@include back-size(cover);
			
			.textBlock{
				@include alpha-background-color(rgba(black, 0.7), black);
				position: absolute;
				bottom: 0;
				padding: 1rem;
				
				h3{
					font-size: 1.2rem;
				}
				p{
					font-size: 0.9rem;
				}
				
				h3, p, a{
					color: $white;
				}
			}
		}
	}
	
	.bx-controls{
		position: absolute;
		top: 40px;
		right: 20px;
		z-index: 2000;
		
		.bx-pager-item{
			display: inline;
			margin-right: 5px;
			
			.bx-pager-link{
				background: $grey;
				width: 16px;
				height: 16px;
				display: inline-block;
				@include border-radius(8px);
				text-indent: -9999px;
				
				&:hover{
					background: $al-blue;
				}
				
				&.active{
					background: $blue;
				}
			}
		}
	}
	
	&:after {
		top: 100%;
		left: 10%;
		border: solid transparent;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(231, 237, 243, 0);
		border-top-color: #e7edf3;
		border-width: 10px;
		margin-left: 0;
	}	
}



.home-intro{
	padding: 1rem 0;
	background: url(../images/general/texture-bg2.jpg) left top repeat $light-grey;
	
	.home-content{
		
		p{
			margin-top: 0;
		}
	}
	
	.home-callout{
		@include alpha-background-color(rgba(white, 0.5), white);
		padding: 1.5rem;
		
		p{
			margin-top: 0;
			color: #a92828;
		}
	}
}

.home-buy{
	padding: 1rem 0;
	
	h2{
		font-size: 1.2rem;
	}
	
	p{
		font-size: 0.8rem;
	}
	
	.we-buy{
		background: $al-blue;
		padding: 1rem;
		color: $white;
		position: relative;
		
		p{
			
			a{
				color: $white;
				
				&:hover{
					text-decoration: none;
				}
			}
		}	
	}
	
	.coming-soon{
		background: $white;
		padding: 1rem;
		
		h1, h2, h3, h4, h5{
			color: $al-blue;
		}
		
		p{
			color: $black;
		}
	}
}

.lower-panels{
	//margin-bottom: 2rem;
	background: #eff4f6;
	padding: 1rem 0;
	
	.accessories,
	.help{
		background-color: #21235c;
		background-position: 400px center;
		background-repeat: no-repeat;
		@include back-size(contain);
		padding: 1rem;
		color: $white;
		
		h3,p{
			width: 100%;
		}
		
		a{
			color: $white;
		}
	}
	.accessories{
		margin-bottom: 1rem;
	}
}

.hentry,
.search-item{
	background: $white;
	padding: 2rem;
	margin: 2rem 0;
}

.page{

	.article-header{
		h2{
			margin-bottom: 2rem;
			text-shadow: 2px 2px 0 #CCC;
			
		}
		
		.featuredImage{
			position: relative;
			margin-bottom: 2rem;
			img{
				@include box-shadow(4px, 4px, 0, #CCC);
			}
		}
	}
	
	.entry-content{
	
		.latestHeader{
			margin-bottom: 1rem;
			text-shadow: 2px 2px 0 #CCC;
		}
		
		p{
			line-height: 1.7;
		}
		
		ul{
			padding-left: 2rem;
			
			li{
				list-style-type: disc;
				padding-bottom: 1rem;
				line-height: 1.5;
			}
		}
		
		.size-full{
			@include box-shadow(4px, 4px, 0, #CCC);
		}
	}
}


/* sidebar */

#mainSidebar{
	margin-top: 2rem;
}

.sidebarWidget{
	width: 100%;
	height: 200px;
	background: $white;
	margin-bottom: 2rem;
}

.sidebarBlock{
	position: relative;
	margin-bottom: 2rem;
	@include box-shadow(4px, 4px, 0, #CCC);
	
	.sidebarImg{
		position: relative;
		z-index: 1;
	}
	
	.sidebarLink{
		position: absolute;
		bottom: -1px;
		left: 0;
		z-index: 2;
		width: 100%;
		background: $al-blue;
		color: $white;
		padding: 1rem;
		@include transition(all 0.2s ease-in-out);
		
		&:after{
			content: '\ea3c';
			font-family: 'icomoon';
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    float: right;
	    
	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	   }
	}
	
	&:hover{
	
		.sidebarLink{
			background: $blue;
		}
	}
}





/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
}

.arrow-btn{
	display: inline-block;
	
	&:after{
		content: '\ea3c';
		font-family: 'icomoon';
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  float: right;
	  padding-left: 7px;
	  
	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}	
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;	
	margin: 0;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(25);
}

h2, .h2 {	
	@include font-size(21);
}

h3, .h3 {
	@include font-size(18);
}

h4, .h4 {
	@include font-size(16);
}

h5, .h5 {
	@include font-size(13);
}


/*********************
HEADER STYLES
*********************/

.page-header{
	background: $al-blue;
	padding: 1rem 0;
	
	h1, p{
		color: $white;
		text-align: center;
		
		a, a:hover{
			color: $white;
		}
	}
	
	h1{
		text-transform: uppercase;
		font-size: 1.4rem;
	}
	
	p{
		margin: 0;
		font-size: 0.8rem;
	}
}

.sub-head{
	background: #272c6b;
	padding: 0.5rem 0;
	
	.header-contacts{
		margin: 0;
		padding: 0;
		display: inline;
		
		li{
			display: block;
			color: $white;
			padding: 0.2rem 0;
			font-size: 0.9rem;
			
			a{
				color: $white;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			
			&.address{
				position: relative;
				padding-left: 25px;
				
				&:before{
					content: '\e948';
					font-family: 'icomoon';
		      speak: none;
		      font-style: normal;
		      font-weight: normal;
		      font-variant: normal;
		      text-transform: none;
		      color: $white;
					position: absolute;
		      top:50%;
		      margin-top: -9px;
		      // margin-top:-8px;
		      left:0;
		      
		      /* Better Font Rendering =========== */
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		     }
			}
			&.email{
				position: relative;
				padding-left: 25px;
				
				&:before{
					content: '\e945';
					font-family: 'icomoon';
		      speak: none;
		      font-style: normal;
		      font-weight: normal;
		      font-variant: normal;
		      text-transform: none;
		      color: $white;
					position: absolute;
		      top:50%;
		      margin-top: -9px;
		      // margin-top:-8px;
		      left:0;
		      
		      /* Better Font Rendering =========== */
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		     }
			}
			&.phone{
				position: relative;
				padding-left: 25px;
				
				&:before{
					content: '\e958';
					font-family: 'icomoon';
		      speak: none;
		      font-style: normal;
		      font-weight: normal;
		      font-variant: normal;
		      text-transform: none;
		      color: $white;
					position: absolute;
		      top:50%;
		      margin-top: -9px;
		      // margin-top:-8px;
		      left:0;
		      
		      /* Better Font Rendering =========== */
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		     }
			}
			
			&:last-child{
				margin-right: 0;
			}	
		}
	}
	
	#searchform{
	
		div{
			padding-top: 0.2rem;
			
			.screen-reader-text{
				display: none;
			}
			
			#s{
				@include border-radius(30px 0 0 30px);
				font-size: 0.8rem;
				width: 80%;
				padding: 0.5rem;
				float: left;
			}
			
			#searchsubmit{
				padding: 0.5rem;
				width: 20%;
				float: left;
				text-align: center;
				font-size: 0.8rem;
				background: $white;
				@include border-radius(0 30px 30px 0);
			}
			&:after{
				content: '';
				display: block;
				clear: both;
			}
		}
	}
}


/*********************
NAVIGATION STYLES
*********************/

.main-nav{
	background: $al-grey;
	padding: 1rem 0;
	
	.toggle-wrap{
		padding: 0.2rem;
	
		.toggle{
			float: left;
			position: relative;
			height: 27px;
			line-height: 27px;
			cursor: pointer;
			display: block;
			width: 80px;
			color: $white;
		}
		
		.toggle span:after,
		.toggle span:before{
		  content: "";
		  position: absolute;
		  left: 0;
		  top: -9px;
		}
		
		.toggle span:after{
	  	top: 9px;
		}
		
		.toggle span{
		  position: absolute;
		  display: block;
		  top: 11px;
		  left: 50px;
		}
		
		.toggle span,
		.toggle span:after,
		.toggle span:before {
		  width: 30px;
		  height: 5px;
		  background-color: $grey;
		  backface-visibility: hidden;
		  @include border-radius(2px);
		}
		
		.social-header{
			float: right;
			margin: 0;
			
			li{
				display: inline;
				margin-left: 0.5rem;
				
				a{
					text-decoration: none;
					color: $white;
					
					span{
						font-size: 1.6rem;
						@include transition(all 0.2s ease-in-out);
					}
					
					&:hover span{
						color: $blue;
					}
				}
			}
		}
		
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	
	.main-menu{
		display: none;
	
		#menu-main-menu{
			margin: 0;
			padding: 0;
			
			li{
				display: block;
				list-style-type: none;
				font-size: 0.8rem;
				border-bottom: 1px solid $grey;
				
				a{
					color: $white;
					text-decoration: none;
					width: 100%;
					display: block;
					padding: 0.4rem 0;
				}
				
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
}

/*********************
PAGES
*********************/


.contact-form{
	background: $white;
	margin: 2rem 0;
	padding: 2rem;
}

.search-results{
	
	.archive-title{
		font-size: 1.6rem;
		margin-top: 2rem;
	}
}


/*********************
WOOCOMMERCE
*********************/

.product-list{
	background: $white;
	text-align: center;
	margin-bottom: 1rem !important;
	@include box-shadow(2px, 2px, 0, #CCC);
	@include border-radius(3px);
	
	a{
		text-decoration: none;
		
		&:hover{
			text-decoration: none;
		}
		
		.wp-post-image{
			width: 100%;
			@include border-radius(3px 3px 0 0);
		}
		
		.product-copy{
			padding: 1rem 0;
	
			h3, h4{
				text-decoration: none;
				font-size: 1rem;
				font-weight: normal;
				color: $grey;
			}
			
			.price{
				display: block;
				color: $al-blue !important;
				font-weight: bold;
				margin: 0.5rem 0;
				font-size: 1.2rem;
				line-height: 1.7;
				
				del{
					opacity: 0.5;
					display: block;
				}
			}
			
			.view{
				background: $al-blue;
				display: inline-block;
				padding: 0.5rem 1rem;
				color: $white;
				font-weight: bold;
				@include border-radius(3px);
				@include transition(all 0.1s ease-in-out);
				
				&:hover{
					
				}
			}
		}
	}
}

// Category List

.cat_list{
	
	.product{
		display: block;
		float: left;
		list-style-type: none;
		
		a{
			display: block;
			
			img{
				display: none
			}	
			
			h3{
				
				.count{
					background: transparent;
				}
			}
		}
	}
}

.shop-wrap{
	padding: 1rem 0;
	
	woocommerce-result-count{
		float: none;
		display: inline-block;
		margin-bottom: 2rem;
	}
	
	.woocommerce-ordering{
		float: none;
		display: inline-block;
		float: right;
		
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
}

.woocommerce-breadcrumb{
	//margin-top: 2rem !important;
}

.product-wrap{
	background: $white;
	padding: 1rem;
	margin: 0 0 1rem 0;
	
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.woocommerce{
	
	.archive-intro{
		@include alpha-background-color(rgba(white, 0.5), white);
		padding: 1rem;
		margin-bottom: 0;
		
		h1{
		font-size: 1.6rem;
		}
		
		p{
			font-size: 0.9rem;
		}
	}
	
	.archive-sorting{
		
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	
	.images{
		margin-bottom: 0;
		color: $grey;
	}
	
	.entry-summary{
	
		h1{
			font-size: 1.6rem;
			margin: 0;
		}
		.price{
			margin: 0 0 2rem 0;
			span{
				color: $al-blue;
				font-weight: bold;
			}
		}
		
		h2{
			font-size: 1.4rem;
			color: $grey;
		}
		
		p{
			margin-bottom: 0;
		}
	}
	
	.product_meta{
		margin-top: 1rem;
	}
}



/*********************
FOOTER STYLES
*********************/

.page-footer {
	background: $al-grey;
	padding: 1rem 0;
	text-align: center;
	
	p{
		color: $white;
		margin: 0 0 0.2rem 0;
		line-height: 1;
		
		&.located{
			margin-bottom: 0.5rem;
		}
	}
}

#map-canvas{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}

#subForm{
	border: 1px solid #17181e;
	padding: 15px 10px 10px 10px;
	margin-top: 2rem;
	@include border-radius();
	
	.field-wrap{
		width: 50%;
		float: left;
		text-align: left;
		padding: 0 10px 20px 10px;
		
		label{
			color: $white;
		}
		
		input{
			width: 100%;
		}
		
		#fieldName{
			
		}
		
		#fieldEmail{
		
		}
	}
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	
	.submit-wrap{
		width: 100%;
		padding: 0 10px 10px 10px;
		
		#submitBtn{
			color: $white;
			border: none;
			width: 100%;
			padding: 0.8rem;
	    @include border-radius();
	    font-family: Arial, sans-serif;
	    font-weight: normal;
	    line-height: normal;
	    font-size: 10px;
	    font-size: 1rem;
			background: #40859b;
			
			&:hover{
				background: darken(#40859b, 10%);
			}
		}
	}
}

	
	
	
	
	
	
