/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	@include transition(all 0.2s ease-in-out);

	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	&:active {

	}
}




/*********************
LAYOUT & GRID STYLES
*********************/

#map-canvas{
	margin-bottom: 0;
}

#subForm{
	padding: 20px;
}

.home-carousel{
	
	.bxslider{
		
		li{
		
			.carouselCopy{
				float: left;
				width: 40%;
				
				h1{
					margin-top: 2rem;
					color: $al-blue;
					line-height: 1;
					font-size: 2rem;
				}
				
				h2{
					font-size: 1.8rem;
				}
				
				p{
					font-size: 1.5rem;
					line-height: 1.3;
					
					a{
						color: $black;
						
						&:hover{
							text-decoration: none;
						}
					}
				}
				
				.arrow-btn{
					color: $grey;
					text-decoration: none;
					font-size: 1.4rem;
					
					&:hover{
						text-decoration: underline;
					}
				}
			}
			
			
			.carouselImage{
				float: right;
				width: 55%;
				
				.image{
					
				}
			}
			
			&.slide01{
				
			}
			&.slide02{
				.carouselCopy{width: 30%;}
				.carouselImage{width: 70%;}
			}
		
			.fullImage{
				height: 420px;
				
				.textBlock{
					left: 10px;
					bottom: 10px;
					padding: 2rem;
					max-width: 350px;
					
					h3{
						font-size: 1.2rem;
					}
					p{
						font-size: 0.9rem;
					}
					
					h3, p, a{
						color: $white;
					}
				}
			}
		}
	}
	
	&:after {
		border-width: 30px;
		left: 20%;
	}
}

.home-intro{
	padding: 2rem 0;
	
	.home-content{
		padding: 0 1rem;
	}
	
	.home-callout{
		padding: 2rem;
	}
}


.home-buy{
	padding: 2rem 0 2rem 0;
	
	h2{
		font-size: 1.6rem;
	}
	
	p{
		font-size: 1rem;
	}
	
	.we-buy{
		background: $al-blue;
		padding: 2rem;
		color: $white;
		position: relative;
		
		&:after {
			top: 15%;
			left: 100%;
			border: solid transparent;
			content: '';
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(241, 98, 72, 0);
			border-left-color: $al-blue;
			border-width: 30px;
			margin-left: 0;
		}	
	}
	
	.coming-soon{
		background: $white;
		padding: 2rem;
		
		h1, h2, h3, h4, h5{
			color: $al-blue;
		}
		
		p{
			color: $black;
		}
	}
}

.page{

	.article-header{
		
		h2{
			margin-bottom: 2rem;
		}
	}
	
	.entry-content{
	
		.latestHeader{
			margin-bottom: 2rem;
		}
	}
	
	#latest{
		
		.entry-content{
			padding-bottom: 3rem;
		}
	}
}

.lower-panels{
	padding: 4rem 0;
	
	.accessories,
	.help{
		background-position: 120% center;
		padding: 2rem;
		
		h3,p{
			width: 60%;
		}
	}
}



/*********************
HEADER STYLES
*********************/

.page-header{
	padding: 2rem 0;
	
	h1{
		font-size: 2rem;
		float: left;
	}
	
	p{
		font-size: 1rem;
		float: right;
		line-height: 2rem;
	}
}

.sub-head{
	background: #272c6b;
	padding: 1rem 0;
	
	.header-contacts{
		margin: 0;
		padding: 0;
		display: inline;
		float: left;
		
		li{
			display: inline-block;
			color: $white;
			margin-right: 1.5rem;
			padding: 0.8rem 0;
			
			a{
				color: $white;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			
			&.address{
				position: relative;
				padding-left: 25px;
				
				&:before{
					content: '\e948';
					font-family: 'icomoon';
		      speak: none;
		      font-style: normal;
		      font-weight: normal;
		      font-variant: normal;
		      text-transform: none;
		      color: $white;
					position: absolute;
		      top:50%;
		      margin-top: -9px;
		      // margin-top:-8px;
		      left:0;
		      
		      /* Better Font Rendering =========== */
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		     }
			}
			&.email{
				position: relative;
				padding-left: 25px;
				
				&:before{
					content: '\e945';
					font-family: 'icomoon';
		      speak: none;
		      font-style: normal;
		      font-weight: normal;
		      font-variant: normal;
		      text-transform: none;
		      color: $white;
					position: absolute;
		      top:50%;
		      margin-top: -9px;
		      // margin-top:-8px;
		      left:0;
		      
		      /* Better Font Rendering =========== */
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		     }
			}
			&.phone{
				position: relative;
				padding-left: 25px;
				
				&:before{
					content: '\e958';
					font-family: 'icomoon';
		      speak: none;
		      font-style: normal;
		      font-weight: normal;
		      font-variant: normal;
		      text-transform: none;
		      color: $white;
					position: absolute;
		      top:50%;
		      margin-top: -9px;
		      // margin-top:-8px;
		      left:0;
		      
		      /* Better Font Rendering =========== */
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		     }
			}
			
			&:last-child{
				margin-right: 0;
			}	
		}
	}
	
	#searchform{
		
		div{
			padding-top: 0;
			width: 270px;
			
			#s{
				font-size: 0.8rem;
				width: 200px;
				padding: 0.5rem;
			}
			
			#searchsubmit{
				padding: 0.5rem;
				width: 70px;
				font-size: 0.8rem;
				
				&:hover{
					background: $light-grey;
				}
			}
		}
	}
}



/*********************
NAVIGATION STYLES
*********************/

.main-nav{

	.toggle-wrap{
		width: 120px;
		float: right;
		
		.toggle{
			display: none;
		}
	}

	.main-menu{
		display: block;
	
		#menu-main-menu{
			margin: 0.5rem 0 0 0;
			
			li{
				display: inline-block;
				list-style-type: none;
				font-size: 0.7rem;
				border-bottom: none;
				
				a{
					color: $white;
					text-decoration: none;
					display: inline;
					&:hover{
						text-decoration: underline;
					}
				}
				
				&.current-menu-item,
				.current_page_item{
					a{
						text-decoration: underline;
					}
				}
				
				&:after{
					content: '|';
					padding: 0 0.2rem;
					color: $blue;
					display: inline-block;
				}
				
				&:last-child:after{
					content: '';
				}
			}
		}
	}
	
	.social-header{
		margin: 1.7rem 0;
		
		li{
			display: inline;
			margin-left: 0.5rem;
			
			a{
				text-decoration: none;
				color: $white;
				
				span{
					font-size: 1.6rem;
					@include transition(all 0.2s ease-in-out);
				}
				
				&:hover span{
					color: $blue;
				}
			}
		}
	}
}


/*********************
WOOCOMMERCE
*********************/

.woocommerce{
	.archive-intro{
		padding: 2rem;
		margin-bottom: 1rem;
		
		h1{
		font-size: 2.2rem;
		}
		
		p{
			font-size: 1rem;
		}
	}
	
	.entry-summary{
		padding: 2rem 2rem 2rem 0 ;
		h1{
			font-size: 2rem;
			margin: 0;
		}
		.price{
			margin: 0 0 2rem 0;
			span{
				color: $al-blue;
				font-weight: bold;
			}
		}
		
		h2{
			font-size: 1.4rem;
			color: $grey;
		}
		
		p{
			margin-bottom: 0;
		}
	}
}

.product-list{
	margin-bottom: 2rem !important;
	
	a{
		
		.wp-post-image{
		}
		
		.product-copy{
			padding: 2rem 0;
	
			h4{
				font-size: 1rem;
			}
			
			.price{
				margin: 1rem 0;
				//font-size: 1.4rem;
			}
			
			.view{
				padding: 0.8rem 2rem;
				
				&:hover{
					background: $blue;
				}
			}
		}
	}
}

.related{
	
	h2{
		margin: 0 0 1rem 0;
	}
	
	.products{
		width: 100%;
		
		li.product{
			width: 24% !important;
			margin: 0 1% 0 0 !important;
		}
	}
}



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/

.page-footer {
	padding: 2rem 0;
	
	p.located{
		margin-bottom: 2rem;
	}
}



