/******************************************************************
Stylesheet: Super Large Monitor Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.home-intro{
	padding: 4rem 0;
}



/*********************
HEADER STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/

.main-nav{

	.main-menu{

		#menu-main-menu{
			
			li{
				font-size: 1rem;
				a{
					
				}
				
				&:after{
					padding: 0 0.5rem;
				}
			}
		}
	}
}



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/