/******************************************************************
Stylesheet: Variables
******************************************************************/

/*********************
COLORS
*********************/

$black:             #141515;
$white:             #ffffff;

$light-grey:        #f2f3f4;
$grey:              #506675;

$al-blue:						#202460;
$al-grey:						#26272f;


$blue:							#40859b;
$orange:						#d3492f;
$red:								#e73e35;
$yellow:						#e8f01a;
$green:							#90e140;


$link-color:        $blue;
$link-hover:        darken($link-color, 10%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

