/******************************************************************
Stylesheet: Typography
******************************************************************/

// font stacks
$sans-serif:        Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

// change these to your own
$header-font:       $sans-serif;
$body-font:		      $sans-serif;




